version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: my-postgres-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: my-redis
    restart: always
    ports:
      - "6379:6379"

  expense-tracker:
    container_name: expense-tracker
    build:
      context: expense-tracker
      dockerfile: dockerFile
    depends_on:
      - db
      - redis
    ports:
      - "3000:3000"

volumes:
  postgres_data: